html {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p.note {
    font-size: 21px;
    color: gray;
}

a.download {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

footer {
    color: gray;
    text-align: right;
}